<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product - Analyze and Build Your Resume With AI</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
</head>

<body>
  <div class="container">
    <nav>
      <div class="nav__header" id="home">
        <div class="nav__logo">
          <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
          </a>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('product') }}">Service</a></li>
          <li><a href="/login" class="btnLogin">Login</a></li>
        </ul>
      </div>
    </nav>

    <section class="section__container section__containers" style="margin-top: 50px;">
      <div class="section__content">
        <h1>Resume Analyzer</h1>
        <hr style="color: #CDE0F3; width: 20%; height: 10%;" />
        <p class="section__p">
          Improve your resume with Resume Analyzer! Get instant insights, keyword suggestions, and formatting tips to boost your job prospects. Try it now!
        </p>
        <div class="header__btns" style="margin-top: 40px;">
          <a href="/analyzer" class="btn" style="background: #0B76E3C9; color: white;">Analyzer</a>
        </div>
      </div>
      <div class="section__image" style="width: 110%; margin-top: 30px; margin-right: -65px;">
        <img src="{{ url_for('static', filename='images/photo-3.webp') }}" alt="Resume Analyzer Image" />
      </div>
    </section>

    <section class="section__container section__containers" style="text-align: end; background: #E5F3CC;">
      <div class="section__image" style="width: 120%; margin-top: 30px; margin-left: -65px;">
        <img src="{{ url_for('static', filename='images/photo-4.png') }}" alt="Resume Matching Image" />
      </div>
      <div class="section__content">
        <h1>Resume Matching</h1>
        <hr style="color: #53DAA2; width: 20%; height: 10%; margin-left: 327px;" />
        <p class="section__p">
          Improve your resume with Resume Analyzer! Get instant insights, keyword suggestions, and formatting tips to boost your job prospects. Try it now!
        </p>
        <div class="header__btns" style="margin-top: 40px;">
          <a href="/analyzer" class="btn" style="background: #C6DE8F; color: black;">Matching</a>
        </div>
      </div>
    </section>

    <section class="section__container section__containers">
      <div class="section__content">
        <h1>Resume Build</h1>
        <hr style="color: #CDE0F3; width: 20%; height: 10%;" />
        <p class="section__p">
          Improve your resume with Resume Analyzer! Get instant insights, keyword suggestions, and formatting tips to boost your job prospects. Try it now!
        </p>
        <div class="header__btns" style="margin-top: 40px;">
          <a href="/analyzer" class="btn" style="background: #0B76E3C9; color: white;">Analyzer</a>
        </div>
      </div>
      <div class="section__image" style="width: 110%; margin-top: 30px; margin-right: -65px;">
        <img src="{{ url_for('static', filename='images/photo-2.png') }}" alt="Resume Builder Image" />
      </div>
    </section>

    <footer class="section__container footer__container">
      <p>&copy; 2024 Analyze. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
